# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# svn
.svn/

# Backups
*~
*.bak*
*.swp
*.swm
*.swo

# Python
*.pyc
*.status
.ipynb_checkpoints/

# Doxygen
html/

#BOUT
*log*
*.nc
*.png
*.pdf

# CELMA-dev
visualization/
celma/*/celma
celma/*/celmaSLEPc
celmaCurMom/*/celmaCurMom
celmaApar/*/celmaApar
nx_*/
ny_*/
nz_*/
MES_results/
MES/boundaries/1-yExtrapolation/yExtrapolation
MES/singleOperators/0-DDXCylinder/DDXCylinder
MES/singleOperators/1-D2DX2Cylinder/D2DX2Cylinder
MES/singleOperators/2-D3DX3Cylinder/D3DX3Cylinder
MES/singleOperators/3-D3DZ3Cylinder/D3DZ3Cylinder
MES/singleOperators/4-D2DXDZCylinder/D2DXDZCylinder
MES/singleOperators/5-D3DX2DZCylinder/D3DX2DZCylinder
MES/singleOperators/6-D3DZ2DXCylinder/D3DZ2DXCylinder
MES/singleOperators/7-DDXCylinderWithJacobian/DDXCylinderWithJacobian
MES/singleOperators/8*-DDXHighResCenter/DDXCylinderHighResCenter
MES/singleOperators/9-DDXDDXCylinder/DDXDDXCylinder
MES/singleOperators/9-DDXDDXCylinder/DDXDDXCylinder
MES/singleOperators/10-D4DX4Cylinder/D4DX4Cylinder
MES/singleOperators/11-D4DY4Cylinder/D4DY4Cylinder
MES/singleOperators/failsDDXDDXHighResCenter*/DDXDDXCylinderHighResCenter
MES/singleOperators/subconvergenceDDXCylinderWithJacobianOverJacobian/DDXCylinderWithJacobianOverJacobian
MES/laplaceInversion/Naulinsolver0Bndry/NaulinSolver
MES/arakawaBracket/0-ArakawaOfDDXf2/ArakawaOfDDX
MES/arakawaBracket/1-ModifiedArakawa/modifiedArakawa
MES/laplaceInversion/Naulinsolver0Bndry/NaulinSolver
MES/integrals/volumeIntegral/VolIntCyl
MES/integrals/surfaceEdgeIntegral/SurfEdgeIntCyl
paramparameters/c++/params

# Miscellaneous
*delme*
*tmp*
nout*/
