# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# svn
.svn/

# Backups
*~
*.bak
*.swp

# Python
*.pyc
*.status
.ipynb_checkpoints/

# Doxygen
html/

#BOUT
*log*
*.nc
*.png
*.pdf
visualization/

# Miscellaneous
*delme*
*tmp*
nout*/
