# Build-files
install/
lib/
bin/
share/

# HDF
include/H4api_adpt.h
include/atom.h
include/bitvect.h
include/cdeflate.h
include/cnbit.h
include/cnone.h
include/crle.h
include/cskphuff.h
include/cszip.h
include/df.h
include/dfan.h
include/dffunc.f90
include/dffunc.inc
include/dfgr.h
include/dfi.h
include/dfrig.h
include/dfsd.h
include/dfstubs.h
include/dfufp2i.h
include/dynarray.h
include/h4config.h
include/hbitio.h
include/hchunks.h
include/hcomp.h
include/hcompi.h
include/hconv.h
include/hdatainfo.h
include/hdf.f90
include/hdf.h
include/hdf.inc
include/hdf2netcdf.h
include/hdfi.h
include/herr.h
include/hfile.h
include/hkit.h
include/hlimits.h
include/hntdefs.h
include/hproto.h
include/hproto_fortran.h
include/htags.h
include/linklist.h
include/local_nc.h
include/mfan.h
include/mfdatainfo.h
include/mffunc.f90
include/mffunc.inc
include/mfgr.h
include/mfhdf.h
include/mfhdfi.h
include/mstdio.h
include/netcdf.f90
include/netcdf.h
include/netcdf.inc
include/tbbt.h
include/vattr.h
include/vg.h

# MPI
etc/
include/mpi-ext.h
include/mpi.h
include/mpi_portable_platform.h
include/mpif-config.h
include/mpif-constants.h
include/mpif-ext.h
include/mpif-externals.h
include/mpif-handles.h
include/mpif-io-constants.h
include/mpif-io-handles.h
include/mpif-sentinels.h
include/mpif-sizeof.h
include/mpif.h
include/mpp/
include/openmpi/
include/openshmem/
include/pshmem.h
include/pshmemx.h
include/shmem-compat.h
include/shmem.fh
include/shmem.h
include/shmemx.h
include/vampirtrace/

# Cyto runs
cyto/HDF_DS_p0_*
cyto/HDF_DS_p0_*
cyto/HDF_DS_p0_*
cyto/HDF_DS_p0_*
cyto/HDF_DS_p0_*
cyto/cyto
cyto/cyto.*
cyto/cyto.*
cyto/cyto.*
cyto/cyto.*
cyto/cyto.*
cyto/cyto.*
cyto/cyto.*
cyto/cyto.*
cyto/cyto.*
cyto/cyto.*
cyto/cyto.*
cyto/cyto.*
cyto/ini.*
cyto/ini.*
cyto/ini.*
cyto/ini.*
cyto/ini.*
cyto/ini.*
cyto/ini.*
cyto/ini.*
cyto/ini.*
cyto/ini.*
